body {
    font-family: "Courier New", Courier, monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

body {
    background: black;
}

canvas {
    position:fixed;
    top:0;
    left:0;
}

.maindiv {
    z-index: 10;
    width: 1100px;
    height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
}

.navigation {
    width: 100%;
    height: 35px;
    background-color: #202020;
    border-radius: 20px 20px 0 0;
}

.desktop {
    width: 100%;
    height: 700px;
    background-color: #282828;
    border-radius: 0 0 20px 20px;
}

nav {
    font-weight: bold;
    max-width: inherit;
    padding: 10px;
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    display: grid;  
    grid-template-columns: 2vw 2vw 2vw 2vw 1fr 2vw 2vw 2vw 2vw;
    grid-gap: 10px;
    border-bottom: 2px solid black;
    align-items: flex-start;
}

.nav-item>.navigation-button, .nav-item>ul>li>.navigation-button {
    cursor: pointer;
    background: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border: none;
    color: #6F6F6F;
    height: 15px;
}

.navigation-button>img {
    vertical-align: middle;
}

.mainhead {
    justify-self: center;
}

.bag {
    justify-self:end;
}

.navigation-button:hover {
    background-color: #000;
    color: #d4d4d4;
}

.navigation-button:first-of-type:hover {
    filter: invert(1);
	background-color: #fff
}

#preloader {
    background: #000 url(../img/preloaderskii.gif) no-repeat center center;
    background-size: 100%;
    border-radius: 0 0 20px 20px;
    height: inherit;
    position: inherit;
    width: 1101px;
    z-index: 9999;
}

#desktop-icons {
    width: 100%;
    height: 700px;
    max-height: 100%;
    display: grid;
    justify-items: center;
}

#desktop-icons {
    position: absolute;
}

#desktop-icons {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
}

ul {
    list-style: none;
}

.desktop-item, .desktop-button {
    color: #6F6F6F;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    border: none;
}

.desktop-button:active {
    filter: invert(1);
	background-color: rgb(58, 113, 59);
}

@media only screen and (max-width: 320px) {
	:root {
		--padding: 5px;
	}
}

@media only screen and (min-width: 1000px) {
	#screen {
		max-width: 1100px;
		max-height: 700px;
		min-width: 960px;
		height: 100%;
		display: block
	}

    .card-list-leftblock {
        width: 550px;
    }

    li>.slider-preview-item {
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;
        margin: 0 15px;
    }

    .item-select-form{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        gap: 5vw;
        padding: 15px 0;
        font-size: 18px;
    }

    .qty {
        display: table-caption;
    }

    .item-select-form-warpper, .order-options-item {
        display: grid;
    }

    .order-form {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 999px) {
	#screen {
		height: 90%;
		width: 90%;
	}

    #desktop-icons>.desktop-button>img {
		width: 50px !important;
        height: 50px !important;
	}

    .desktop-button {
        font-size: 11pt;
    }

    #desktop-icons {
        grid-template-columns: repeat(2,1fr) !important;
        grid-template-rows: unset !important;
        grid-auto-rows: 35%;
        grid-auto-flow: row;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
        height: 90%;
    }    

    ::-webkit-scrollbar {
        width: 0;
    }

    .clothes>.desktop-item>.desktop-button>span, .archive-clothes-list>.desktop-item>.desktop-button>span {
        font-size: 10pt !important; 
    }

    .clothes>.desktop-item>.desktop-button>p, .archive-clothes-list>.desktop-item>.desktop-button>p {
        font-size: 8pt !important; 
    }

    .clothes, .archive-clothes-list {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }   

    #preloader {
        background: #000 url(../img/preloaderskii_tel.gif) no-repeat center center;
        background-size: contain;
        width: 100%;
    }

    div .card-list {
        display: block;
        height: 98%;
    }

    li>.slider-preview-item {
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;
        gap: 10px;
        margin: 10px;
    }
    
    .slider-preview-item>a>img {
        width: 70px;
        height: 90px;
    }

    .slider-preview-item a:not(.active)::before {
        height: 90px !important;
    }

    .card-list>li>img {
        height: 90% !important;
        width: 90% !important;
        max-height: 450px;
        object-fit: cover;
    }

    .desktop {
        height: 90%;
    }

    .item-select-form {
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .addtocart-button {
        margin-top: 10px;
        width: fit-content;
    }

    .addtocart-button, .createOrder,
    .item-select-form {
        font-size: 20px;
    }

    .addtocart-button, .createOrder {
        margin-top: 15px;
        width: 80% !important;
        height: 2em !important;
    }

    nav {
        grid-template-columns: 3vw 3vw 3vw 3vw 1fr 3vw 3vw 3vw 3vw !important;
    }

    .carousel>div {
        height: inherit;
    }

    .carousel img {
        height: inherit;
    }

    .popup {
        border-radius: 2%;
        width: 98% !important;
        height: 36% !important;
    }

    .modal-content {
        padding-bottom: 5px;
    }

    .order-popup-wrapper {
        width: 95% !important;
    }

    .carousel {
        height: 93% !important;
    }
}

@media only screen and (max-width: 376px) {
    #desktop-icons {
        grid-template-columns: repeat(2,1fr) !important;
        grid-template-rows: unset !important;
        grid-auto-rows: 45%;
        grid-auto-flow: row;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;

        height: 99%;
    }    

    .mainDesktop {
        height:inherit !important;
    }

    .desktop {
        height: 80%;
    }

    #preloader {
        height: 81%;
    }

    .carousel>div {
        height: inherit;
    }

    .carousel img {
        height: inherit;
    }

    .popup {
        border-radius: 2%;
        width: 98% !important;
        height: 48% !important;
    }

    .modal-content {
        padding-bottom: 5px;
    }
}



.clothes, .archive-clothes-list {
    grid-template-columns: repeat(5,1fr) !important;
    grid-template-rows: unset !important;
    grid-auto-rows: 35%;
    grid-auto-flow: row;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;

}

.clothes>.desktop-item>.desktop-button>p, .archive-clothes-list>.desktop-item>.desktop-button>p {
    position: relative;
    bottom: 7px;
}

.visible {
    position: absolute;
    z-index: 11 !important;
    width: inherit;
    height: inherit;
    background-color: inherit;
    margin: inherit;
    border-radius: inherit;
}

.hidden {
    position: absolute;
    z-index: -10 !important;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
}

.clothes>.desktop-item>.desktop-button>span, .archive-clothes-list>.desktop-item>.desktop-button>span {
    font-size: 14pt;
}

.card-list {
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    'cardheader cardheader'
    'cardmain cardsidebar';
    max-height: 98%;
    text-align: center;
    align-items: flex-start;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;

    padding: 0;
}

.card-list>li>img {
    height: 450px;
    width: 360px;
    object-fit: cover;
}

.grid > :nth-child(1) {
    grid-area: cardheader;

}

.grid > :nth-child(2) {
    grid-area: cardmain;
}

.grid > :nth-child(3) {
    grid-area: cardsidebar;
}

.slider-preview-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;   
    margin-top: 5px;
    align-items: center;
}
  
.slider-preview-item img {
    display: block;
}

.slider-preview-item a:not(.active)::before {
    border-radius: 10%;
    content: '';
    position: absolute;
    height: 110px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  padding: 0 15px;
}

.TempUnavaliable, .txtfolder {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;

}

.TempUnavaliable>button, .txtfolder>button {
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #6F6F6F;
    font-size: 16px;
}

.simple-link {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #6F6F6F;
}

.TempUnavaliable>p, .txtfolder>p, .txtfolder>h3 {
    padding: 15px 0;
    text-align: center;
    color: #6F6F6F;
}

li {
    color: #6F6F6F;
}

img {
    object-fit: cover;
    border-radius: 5%;
}

/* cart */

.card-in-cart {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.cart-item-delete {
    cursor: pointer;
    background: transparent;
    border: none;
}

.hiddenitem {
    position: absolute;
    z-index: -10 !important;
    opacity: 0;
}

.total-price-block {
    display: flex;
    justify-content: right;
    gap: 10px;
    font-size: 18px;
    margin-right: 10px;
}

.addtocart-button {
    margin-bottom: 10px;
}

.order-wrapper {
    display: grid;
    padding: 0 15px;
    margin-bottom: 15px;
}

.order__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin:0;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: #888888;
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.item-select-form-warpper>select {
    color: black;
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: #888888;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.qty>input {
    width: 4em;
    margin-top: 5px;
    background-color: #888888;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    border: none;
}

.qty>button {
    font-size: 18px;
    background: transparent;
    color: #6F6F6F;
    border: none;
    cursor: pointer;
}

.qty>button:hover {
    color: white;
    background-color: black;
}

.order__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.order__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.var-wrapper {
    margin-bottom: 10px;
}

.final-order-form>input {
    margin-bottom: 15px;
}

.addtocart-button, .createOrder {
    margin-top: 15px;
    width: 60%;
    height: 3em;
    background-color: #888888;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    color: black;
}

.addtocart-button:hover, .createOrder:hover {
    border: 3px solid #202020;
    cursor: pointer;
}

.addtocart-button:active, .createOrder:active {
    border: 3px solid #888888;
}

.cart-item-counter {
    vertical-align: middle;
    color: #6F6F6F;
}

.cart {
    top:34px;
}

.empty {
    justify-content: center;
    margin: 25px 0;
}

.popup-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.popup {
    border-radius: 2%;
    width: 70%;
    height: 74%;
}

.modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}

.modal-content {
    height: 100%;
    border-radius: 2%;
    background-color: #f1f2f4;
    position: relative;
}

.close-popup {
    right: 10px;
    position: absolute;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-order-popup {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    border: none;
    margin-right: 5px;
}

.order-popup-wrapper {
    background-color: #aaa;
    width: 50%;
    height: 30%;
    border-radius: 15px;
}

.order-description-popup {
    text-align: center;
    position: relative;
    top: 4vh;
}


.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    width: 100%;
    height: 95%;
    overflow: hidden;
    -webkit-overflow-scrolling:touch;

}

.carousel img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #555;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    text-decoration: none;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.description {
    text-align: center;
}

p {
    font-size: 18px;
    margin: 0;
}
